html {
  scroll-behavior: smooth;
}
@keyframes menu {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
ul{
  &.active{
    animation: menu .5s ease-in-out;
  }
}

section {
  a:hover{
    background-color: $font-border-color;
    color: $txt-color;
    border-color: $font-border-color;
  }
}