/*div.img{
  position: relative;
  z-index: 1;
  &::after{
    position: absolute;
    //margin: 1rem;
    width: 280px;
    height: 90%;
    //padding: 1rem;
    top: 0;
    left: 1rem;
    //border: 4px solid $font-border-color;
    content: '';
    z-index: 0;
  }
}*/
div.toggle {
  position: fixed;
  height: 4.6rem;
  width: 4.6rem;
  top: 0.2em;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  margin-top: 1rem;
}

.burger-menu {
  position: relative;
  width: 4em;
  height: 0.2rem;
  background-color: white;
  margin: 0 0 30px;
  &:after, &:before {
    position: absolute;
    content: '';
    width: 35px;
    height: 100%;
    background-color: inherit;
    transform-origin: center center;
    //transition: rotate .25s ease, top .25s ease, bottom .25s ease;
    left: 5px;
  }
  &:before {
    top: -10px;
  }
  &:after {
    bottom: -10px;
  }
}

.button{
  width: 50px;
  margin: -100px auto 90px auto ;
  border-radius: 50%;
  height: 50px;
  position: relative;
  background-color: $font-border-color;
  text-indent: -999px;
  border:none;
  &:after, &:before{
    position: absolute;
    content: '';
    width: 25px;
    height: 3px;
    top: 50%;
    left: 13px;
    background-color: $bck-body;

  }
  &:after{
    transform: rotate(90deg);

  }
  &:before{
    transform: rotate(0deg);

  }
}
.btn{
  text-decoration: underline;
  color: $font-title-color;
}
#Capa_1{
  fill: yellow;
  width: 50px;
  position: absolute;
  top: 75%;
  left: 50%;
}

