/*.img{
  //overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  .flex{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: calc(330px*2);
  img{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 320px;
  }
}}
*/